/*功能：css样式表
作者：施淇
*/
@CHARSET "UTF-8";

body,h1,h2,h3,p,ul,ol,form,fieldset,figure {
	margin: 0;
	padding: 0;
}
div,figure,img,input,button {
	box-sizing: border-box;
}
body {
	background-color: #f5f5f5;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
img {
	display: block;
	max-width: 100%;
}
ul,ol {
	list-style: outside none none;
}
a {
	text-decoration: none;
}
.none {
	display: none;
}
.sm-visible {
	display: none;
}
.clearfix:after {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
	clear:both;  
}

/*header css*/
#header {
	width: 100%;
	height: 70px;
	background-color: #333;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	z-index: 9999;
	min-width :1263px;
}
#header .pilot {
	max-width: 1263px;
	height: 70px;
	margin: 0 auto;
}
#header .logo {
	width: 30%;
	height: 70px;
	background: url(../img/logo.png) no-repeat left center;
	text-indent: -9999px;
	float: left;
}
#header .link {
	width: 55%;
	height: 70px;
	line-height: 70px;
	color: #eee;
	float: right;
}
#header .link li {
	width: 20%;
	text-align: center;
	float: right;
}
#header .link a {
	color: #eee;
	display: block;
}
#header .link a:hover, 
#header .active a {
	background-color: #000;
}
#login {
	max-width: 1920px;
	margin: 0 auto;
	padding: 70px 0 0 0;
	position: relative;
}
#login .center{
	width: 47%;
	height: 320px;
	background-color: #000;
	position: absolute;
	top: 20%;
	left: 50%;
	
	margin: -10px 0 0 -20%;
	opacity: 0.6;
	border-radius: 10px;
}
#login .word1{
	top:5%;
	color: GhostWhite;
	left: 50%;
	
}
#login .word2{
	text-align:center;
	color: GhostWhite;
	font-size: 20px;

}
#login .content {
	opacity: 1;
	background-color: transparent;
	padding: 3px 3px 0 3px;
	position: absolute;
	top:18%;
	left: 35%;
}
#login .label {
	width: 100%;
	height: 46px;
	background-color: #eee;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	padding: 0 10px;
	outline: none;
	display: block;
	float: left;
}
#login .label2{
	width:100%;
	height: 30px;
	background-color: #eee;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	padding: 0 10px;
	outline: none;
	display: block;
	float: left;
}

#login .submit{
	width: 28%;
	height: 40px;
	background-color: #eee;
	color: #666;
	border: 1px solid #333;
	border-left-width: 3px;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	display: block;
	position:absolute;
	left: 35%;
}

#login .submit2{
	width: 28%;
	height: 35px;
	background-color: #eee;
	color: #666;
	border: 1px solid #333;
	border-left-width: 3px;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	display: block;
	position:absolute;
	left: 40%;
}

#body {
	max-width: 1263px;
	height: 700px;
	margin: 30px auto;
	text-align: center;
}
#body .center {
	text-align: center;
}
#body .book_title {
	height: 40px;
	overflow: hidden;
}
#body figure {
	border: 1px solid #ddd;
	display: block;
	padding: 4px;
	border-radius: 8px;
	width: 32.51%;
	margin: 20px 0.4%;
	text-align: left;
	float: left;
	position: relative;
}
#body figure img {
	vertical-align: middle;
}
#body figure figcaption {
	color: #777;
	font-size: 10px;
	padding: 8px 0 0 0;
	letter-spacing: 1px;
	line-height: 1.5;
}
#body .title {
	color: #333;
	font-weight: normal;
}
#footer {
	background-color: #222;
	clear:both;
	position: relative;
	top: 20px;
}
#footer .top {
	max-width: 1263px;
	height: 280px;
	margin: 0 auto;
	text-align: center;
}
#footer .version {
	color: #777;
	text-align: center;
	padding: 10px 0;
}
#footer .block {
	width: 33.33%;
	height: 250px;
	display: inline-block;
	color: #ccc;
	text-align: left;
	vertical-align: top;
	display: block;
	float: left;
}
#footer .bottom {
	padding: 15px 0;
	text-align: center;
	color: #777;
	background-color: #000;
	border-top: 1px solid #444;
}
#footer h2 {
	font-weight: normal;
	padding: 20px 0 0 20px;
	font-size: 24px;
}
#footer hr {
	width: 90%;
	border: 1px dashed #333;
}
#footer ul {
	color: #666;
	font-size: 18px;
	text-indent: 20px;
	line-height: 2;
}

#surface{
	position: relative;
	max-width: 1263px;
	width: 100%;
	border: 1;
	cellspacing：0 ;
	cellpadding：0 ;
	background-color:#E0FFFF;
}
#surface .top{
	background-color: #AFDBDC;
	width:100%;
	height:50%;
	position:absolute;
	text-align:center;
}

#surface1 .left{
	background-color:#E0FFFF;
	width:200px;
	position:absolute;
	padding:30px;
	height:600px;
	margin-top:0px；
	
}



