<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<display-name>CharacterEncodingFilter</display-name>
  	<description></description>
  	<filter-class>com.ie.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
	    <servlet-name>Deletebookservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Deletebookservlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Deleteuserservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Deleteuserservlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Findbookservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Findbookservlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Finduserservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Finduserservlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Updatebookservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Updatebookservlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Updateuserservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Updateuserservlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Addbookservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Addbookservlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Adduserservlet</servlet-name>
	    <servlet-class>com.ie.servlet.Adduserservlet</servlet-class>
	</servlet>
	<servlet-mapping>
	     <servlet-name>Deletebookservlet</servlet-name>
	     <url-pattern>/Deletebookservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	     <servlet-name>Deleteuserservlet</servlet-name>
	     <url-pattern>/Deleteuserservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	     <servlet-name>Findbookservlet</servlet-name>
	     <url-pattern>/Findbookservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	     <servlet-name>Finduserservlet</servlet-name>
	     <url-pattern>/Finduserservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	     <servlet-name>Updatebookservlet</servlet-name>
	     <url-pattern>/Updatebookservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	     <servlet-name>Updateuserservlet</servlet-name>
	     <url-pattern>/Updateuserservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	     <servlet-name>Addbookservlet</servlet-name>
	     <url-pattern>/manager/Addbookservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	     <servlet-name>Adduserservlet</servlet-name>
	     <url-pattern>/manager/Adduserservlet</url-pattern>
	</servlet-mapping>
	 <servlet>
  	<servlet-name>SMedit</servlet-name>
  	<display-name>SMedit</display-name>
  	<description></description>
  	<servlet-class>com.ie.servlet.SMedit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SMadd</servlet-name>
  	<display-name>SMadd</display-name>
  	<description></description>
  	<servlet-class>com.ie.servlet.SMadd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SMdelete</servlet-name>
  	<display-name>SMdelete</display-name>
  	<description></description>
  	<servlet-class>com.ie.servlet.SMdelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Loginservlet</servlet-name>
  	<display-name>Loginservlet</display-name>
  	<description></description>
  	<servlet-class>com.ie.servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registerservlet</servlet-name>
  	<display-name>Registerservlet</display-name>
  	<description></description>
  	<servlet-class>com.ie.servlet.Registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SMedit</servlet-name>
  	<url-pattern>/supermanager/SMedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SMadd</servlet-name>
  	<url-pattern>/supermanager/SMadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SMdelete</servlet-name>
  	<url-pattern>/SMdelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Loginservlet</servlet-name>
  	<url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registerservlet</servlet-name>
  	<url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
      <!-- 声明Servlet -->
	<servlet>
		<!-- Servlet名称 -->
		<servlet-name>BorrowBookServlet</servlet-name>
		<!-- Servlet完整类名 -->
		<servlet-class>com.ie.servlet.BorrowBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Showbookservlet</display-name>
		<servlet-name>Showbookservlet</servlet-name>
		<servlet-class>com.ie.servlet.Showbookservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReturnBookServlet</display-name>
		<servlet-name>ReturnBookServlet</servlet-name>
		<servlet-class>com.ie.servlet.ReturnBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>rootedit</display-name>
		<servlet-name>rootedit</servlet-name>
		<servlet-class>com.ie.servlet.rootedit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>rootdele</display-name>
		<servlet-name>rootdele</servlet-name>
		<servlet-class>com.ie.servlet.rootdele</servlet-class>
	</servlet>
	<!-- Servlet映射 -->  
	<servlet-mapping>
		<!-- Servlet名称 -->
		<servlet-name>BorrowBookServlet</servlet-name>
		<!-- URL映射 -->
		<url-pattern>/user/BorrowBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Showbookservlet</servlet-name>
		<url-pattern>/Showbookservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnBookServlet</servlet-name>
		<url-pattern>/user/ReturnBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rootedit</servlet-name>
		<url-pattern>/rootedit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rootdele</servlet-name>
		<url-pattern>/rootdele</url-pattern>
	</servlet-mapping>
</web-app>